.nos-dernieres-realisations{
    text-align: center;
    padding-top: 20px;
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

        li{
            list-style: none;
        
        }
}