footer{
    background-color: #112e3e;
    
    padding: 40px 20px  ;
    .flex-footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    img{
        height: 150px;
    
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 50%;
    }
    li{
        list-style: none;
        margin: 0;
        padding: 0;
        color: #f3f3f3;
    }
    .logo-footer{
        width: 70px;
        height: 50px;
        padding-left: 20px;
    }
    h3,p{
        color: #f3f3f3;
        padding-left: 20px;

    }
    .contact{
        border-left: 1px solid #f3f3f3;
        border-spacing: 10px;
    }
    .mention{
        text-align: center;
        
    }
}

@media screen and (max-width:768px) {
    footer{
        .flex-footer{
            flex-direction: column;
            align-items: center;
            
        }
    }
    
}