header{
    background-color: #112e3e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px  ;
    img{
        height: 200px;
    }
}

// edd154 jaune