#hero{
    background-image: url(../img/PHOTO-BUEAU.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    padding: 0;
    margin: 0;
    h1{
        display: flex;
        font-size: 4rem;
        flex-direction: column;
        color: #f3f3f3;
        margin: 0;
        margin-left: 10%;
        padding-top: 10%;
        span{
            color: #edd154;
        }
    }

}